@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="">
            <p>

            </p>
        </div>
        <div>
            <p>
                A driver drowsiness detection and alert system is a car safety technology that prevents accidents when a driver is getting drowsy. The system monitors the driver's eye and head movements, yawning frequency, eye-blinking frequency, eye-gaze movement, head movement, and facial expressions for signs of drowsiness or distraction. If a possible danger is detected, the system alerts the driver to take action.
            </p>
            <p>
                The system can use cameras, eye tracking sensors, and other hardware to monitor visual cues. For example, one system uses an algorithm to record the driver's steering behavior and recognize changes over the course of long trips. Another system uses steering angle sensors to calculate the roughness of the driver's steering input patterns.
            </p>
            <p>
                The system can alert the driver through an alarm in real time, or by suggesting that the driver take a break when it's safe to do so. The system can also include an SMS notification system to relatives or friends with location details of the drowsy driver.
            </p> 
            <p>
                The system can detect early symptoms of drowsiness before the driver has fully lost all attentiveness. However, the system does not guarantee that the driver will be fully awakened and that an accident will be avoided.
            </p>
        </div>
    </div>
</div>
