@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A user CRUD operations related web application provides a convenient and user-friendly interface for managing user data, allowing for efficient management and maintenance of user records within the system..</p>
</div>
